<!-- hero section -->
  <div class="flex flex-col md:flex-row justify-between items-center w-full px-4 md:px-0">
    <div class="w-full h-[45vh] bg-slate-200 relative">
      <img src="../../../assets/hero-img.jpg" class="w-full h-full object-cover opacity-90" alt="">

      <app-homepage-search></app-homepage-search>
    </div>
  </div>
  <div class="max-w-7xl mx-auto mt-8">
    <h1 class="text-4xl leading-[3rem] md:text-7xl mb-5 md:mb-12 2xl:mb-5 md:leading-[4.3rem] 2xl:leading-[5rem] font-medium text-center">Search and find your best car for your matric dance</h1>
  </div>

  <!-- about section -->
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center gap-x-16 mt-10 2xl:mt-10 mb-10  px-4 md:px-0">
    <div class="w-full md:w-1/2 md:h-[80vh] 2xl:h-[60vh]">
      <img src="../assets/about-img.jpg" class="h-full w-full object-cover" alt="">
    </div>

    <div class="w-full md:w-1/2">
      <p class="text-slate-500 text-xl leading-8 2xl:leading-10 my-8 2xl:my-10">
        Matric Rides offers a hassle-free way to find and book your ideal car for your matric dance. Browse a diverse selection of vehicles, choose your perfect ride, and make unforgettable memories. <br><br>
        At Matric Rides, we're dedicated to providing hassle-free transportation solutions for your matric farewell. With a diverse selection of vehicles and a seamless booking experience, we ensure your special night is unforgettable
      </p>

      <button (click)="searchCars()" class="text-white bg-[#0254AB] px-7 py-2.5 flex justify-center items-center gap-x-3">
        See all cars
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
        </svg>        
      </button>
    </div>
  </div>
  
  <!-- car collection section -->
  <!-- <div class="max-w-7xl mx-auto mb-12 md:mb-20 px-4 md:px-0">
    <h1 class="text-4xl md:text-5xl text-center leading-[3.9rem] font-medium mb-10">Our Car collection</h1>

    <div class="flex flex-col md:flex-row justify-center items-center gap-5">
      <div class="max-w-sm p-2 bg-white border border-gray-200 ">
        <a href="#">
            <img class="" src="../assets/car1.jpg" alt="" />
        </a>
        <div class="px-1 pt-2">
          <div class="flex justify-between items-center">
            <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900 my-3">R2,569.00 <span class="font-normal text-sm">/day</span></h5>
            <p class="text-slate-600 flex justify-end items-end gap-1 text-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-geo-fill w-5 h-5" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
              </svg>
              Polokwane
            </p>
          </div>
          <h5 class="my-2 mb-5 text-2xl font-bold tracking-tight text-gray-900">Mercedes AMG GT</h5>
          
          <button class="flex justify-center items-center py-4 gap-x-3 font-medium hover:bg-slate-100 bg-[#F8F8F8] focus:ring-4 focus:outline-none focus:ring-blue-300 w-full text-black">
            Book car
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="max-w-sm p-2 bg-white border border-gray-200 ">
        <a href="#">
            <img class="" src="../assets/car1.jpg" alt="" />
        </a>
        <div class="px-1 pt-2">
          <div class="flex justify-between items-center">
            <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900 my-3">R2,569.00 <span class="font-normal text-sm">/day</span></h5>
            <p class="text-slate-600 flex justify-end items-end gap-1 text-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-geo-fill w-5 h-5" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
              </svg>
              Polokwane
            </p>
          </div>
          <h5 class="my-2 mb-5 text-2xl font-bold tracking-tight text-gray-900">Mercedes AMG GT</h5>
          
          <button class="flex justify-center items-center py-4 gap-x-3 font-medium hover:bg-slate-100 bg-[#F8F8F8] focus:ring-4 focus:outline-none focus:ring-blue-300 w-full text-black">
            Book car
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="max-w-sm p-2 bg-white border border-gray-200 ">
        <a href="#">
            <img class="" src="../assets/car1.jpg" alt="" />
        </a>
        <div class="px-1 pt-2">
          <div class="flex justify-between items-center">
            <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900 my-3">R2,569.00 <span class="font-normal text-sm">/day</span></h5>
            <p class="text-slate-600 flex justify-end items-end gap-1 text-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-geo-fill w-5 h-5" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
              </svg>
              Polokwane
            </p>
          </div>
          <h5 class="my-2 mb-5 text-2xl font-bold tracking-tight text-gray-900">Mercedes AMG GT</h5>
          
          <button class="flex justify-center items-center py-4 gap-x-3 font-medium hover:bg-slate-100 bg-[#F8F8F8] focus:ring-4 focus:outline-none focus:ring-blue-300 w-full text-black">
            Book car
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="max-w-sm p-2 bg-white border border-gray-200 ">
        <a href="#">
            <img class="" src="../assets/car1.jpg" alt="" />
        </a>
        <div class="px-1 pt-2">
          <div class="flex justify-between items-center">
            <h5 class="mb-2 text-xl font-medium tracking-tight text-gray-900 my-3">R2,569.00 <span class="font-normal text-sm">/day</span></h5>
            <p class="text-slate-600 flex justify-end items-end gap-1 text-sm">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-geo-fill w-5 h-5" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.3 1.3 0 0 0-.37.265.3.3 0 0 0-.057.09V14l.002.008.016.033a.6.6 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.6.6 0 0 0 .146-.15l.015-.033L12 14v-.004a.3.3 0 0 0-.057-.09 1.3 1.3 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465s-2.462-.172-3.34-.465c-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411"/>
              </svg>
              Polokwane
            </p>
          </div>
          <h5 class="my-2 mb-5 text-2xl font-bold tracking-tight text-gray-900">Mercedes AMG GT</h5>
          
          <button class="flex justify-center items-center py-4 gap-x-3 font-medium hover:bg-slate-100 bg-[#F8F8F8] focus:ring-4 focus:outline-none focus:ring-blue-300 w-full text-black">
            Book car
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
          </button>
        </div>
      </div>

    </div>
  </div> -->

  <!-- Reviews section -->
  <app-reviews></app-reviews>
  <app-faq></app-faq>
  