<div class="px-10 py-5">
    <h1 class="text-3xl font-medium mb-10">2021 BMW 240i</h1>

    <div class="bg-white rounded p-10">
        <div class="my-10 border-b">
            <p class="text-xl mb-2">Car details</p>
        </div>

        <div class="grid grid-cols-2 gap-y-5 gap-x-60 max-w-2xl">
            <div class="flex justify-between items-center w-80">
                <p class="text-slate-400">Make:</p>
                <p class="font-medium">{{carObj.make}}</p>
            </div>
            <div class="flex justify-between w-80 items-center">
                <p class="text-slate-400">Model:</p>
                <p class="font-medium">{{carObj.model}}</p>
            </div>
            <div class="flex justify-between w-80 items-center">
                <p class="text-slate-400">Year:</p>
                <p class="font-medium">{{carObj.year}}</p>
            </div>
            <div class="flex justify-between items-center w-80">
                <p class="text-slate-400">Doors:</p>
                <p class="font-medium">{{carObj.doors}}</p>
            </div>
            <div class="flex justify-between w-80 items-center">
                <p class="text-slate-400">Color:</p>
                <p class="font-medium">{{carObj.color}}</p>
            </div>
            <div class="flex justify-between w-80 items-center">
                <p class="text-slate-400">Fuel:</p>
                <p class="font-medium">{{carObj.fuelType}}</p>
            </div>
        </div>

        <div class="mt-10">
            <p class="text-slate-400">Description</p>
            <p class="mt-2 whitespace-pre-wrap w-2/3">{{carObj.descripion}}</p>
        </div>
        
        <div  class="mt-10 flex justify-start  items-center gap-5">
            <div *ngFor="let src of imageSrc" class="h-60 w-60">
                <img [src]="src" alt="Image" class="h-full w-full object-cover">
            </div>
        </div>

        <div class="flex justify-end items-center gap-2">
            <button class="text-white mt-10 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Update</button>
            <button  class="text-white mt-10 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Delete</button>
        </div>
    </div>
</div>