<div class="px-10 py-5">
    <h1 class="text-3xl font-medium mb-10">Cars</h1>

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Car
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Model
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Year
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Hourly Rate
                    </th>
                    <th scope="col" class="px-6 py-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{car.make}}
                    </th>
                    <td class="px-6 py-4">
                        {{car.model}}
                    </td>
                    <td class="px-6 py-4">
                        {{car.year}}
                    </td>
                    <td class="px-6 py-4">
                        R{{car.hourlyRate}}
                    </td>
                    <td class="px-6 py-4">
                        <a (click)="getCarDetails(car.hostId)" class="text-blue-600 hover:cursor-pointer hover:underline">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

