<div class="">
    <!-- todo: add this profile pic vibe on layout -->
    <div class="px-10 py-5 bg-white flex justify-end items-center">
        <img class="w-14 h-14 rounded-full object-cover" [src]="profilePic" alt="Rounded avatar">
    </div>
    <div class="p-10">
        <!-- admin cards -->
        <div *ngIf="role === 'admin'" class="grid 2xl:grid-cols-5 gap-10 w-full mb-16">
            <app-users-card></app-users-card>
            <app-host-application-card></app-host-application-card>
            <app-admin-cars-card></app-admin-cars-card>
        </div>

        <!-- host cards -->
        <div class="grid 2xl:grid-cols-5 gap-10 w-full mb-16" *ngIf="role === 'host'">
            <app-host-cars-card></app-host-cars-card>
        </div>

        <!-- host cars table -->
        

        <div *ngIf="role === 'admin'" class="bg-white pb-5">
            <app-landing></app-landing>
        </div>

        <div *ngIf="role === 'admin'" class="bg-white pb-5 mt-5">
            <app-car-landing></app-car-landing>
        </div>
    </div>
    
</div>

