

<nav class="bg-white border-b py-4 md:py-7 border-gray-200 mb-5 md:mb-0 max-w-7xl mx-auto">
    <!-- mobile menu -->
    <div class="flex justify-between items-center md:hidden px-3">
        <a (click)="closeMobileMenu()" routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Matric Rides</span>
        </a>
        <svg (click)="showMobileMenu()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
        </svg>
    </div>

    <!-- mobile menu items -->
    <div class="w-full h-screen absolute top-16 left-0 p-5 bg-white z-50" [class.hidden]="!showNavbar">
        <ul class="w-full h-full text-xl space-y-5 mt-5 justify-center items-center text-slate-600">
            <li>
                <a routerLink="/how-it-works" (click)="closeMobileMenu()" routerLinkActive="underline underline-offset-2 text-[#0254AB]" class="flex justify-start items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-car-front w-4 h-4" viewBox="0 0 16 16">
                        <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17s2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276"/>
                        <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.8.8 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155s4.037-.084 5.592-.155A1.48 1.48 0 0 0 15 9.611v-.413q0-.148-.03-.294l-.335-1.68a.8.8 0 0 0-.43-.563 1.8 1.8 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3z"/>
                      </svg>
                    How it works
                </a>
            </li>
            <li>
                <a href="" class="flex justify-start items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-question-circle w-4 h-4" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                    </svg>
                    FAQ
                </a>
            </li>
            <li>
                <a routerLink="/contact-us" class="flex justify-start items-center gap-x-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-telephone w-4 h-4" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                      </svg>
                    Contact Us
                </a>
            </li>
        </ul>
    </div>

    <!-- desktop menu -->
    <div class="hidden md:flex justify-between items-center ">
        <div>
            <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Matric Rides</span>
            </a>
        </div>
        <ul class="flex justify-center items-center gap-x-5 text-gray-500">
            <li>
                <a routerLink="/how-it-works" routerLinkActive="underline underline-offset-2 text-[#0254AB] font-medium" class="hover:underline">How it works</a>
            </li>
            <li>
                <a href="#faq-section" class="hover:underline">FAQ</a>
            </li>
            <li>
                <a routerLink="/contact-us" routerLinkActive="underline underline-offset-2 text-[#0254AB] font-medium" class="hover:underline">Contact Us</a>
            </li>
        </ul>

        <ul class="flex justify-end items-center gap-x-6 font-medium" *ngIf="showLoginMenu">
            <li>
                <a routerLink="/host-application-form" class="underline underline-offset-4">Become a Host</a>
            </li>
            <li>
                <button (click)="showLoginModal()" class="text-white bg-[#1A1E23] px-7 py-2.5">Login</button>
            </li>
        </ul>

        <div *ngIf="!showLoginMenu" class="relative">
            <svg (click)="showDropdownMenu()"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
            </svg> 

            <ul *ngIf="menuToggle" class="flex flex-col items-start justify-start w-56 z-50 rounded-md gap-6 font-medium bg-white absolute top-10 right-10 p-5">
                <li>
                    <a class="underline underline-offset-4">My bookings</a>             
                </li>
                <li>
                    <a (click)="logout()" class="underline underline-offset-4">logout</a>             
                </li>
            </ul>
        </div>

        
    </div>
  </nav>
  

    <!-- Login modal -->
    <app-login-modal></app-login-modal>