<div class="px-10 py-5">
    <h1 class="text-3xl font-medium mb-10">Booking applications</h1>

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Client Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        School
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Booking Start
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Booking End
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cost
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let booking of bookings" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900">
                        {{booking.client.name}} {{booking.client.surname}}
                    </th>
                    <td class="px-6 py-4">
                        {{booking.school}} 
                    </td>
                    <td class="px-6 py-4">
                        {{booking.from}}
                    </td>
                    <td class="px-6 py-4">
                        {{booking.until}}
                    </td>
                    <td class="px-6 py-4">
                       R {{booking.cost}}
                    </td>
                    <td class="px-6 py-4">
                        <span *ngIf="booking.status == 'Booked'" class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Booked</span>
                        <span *ngIf="booking.status == 'InProgress'" class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">In Progress</span>
                        <span *ngIf="booking.status == 'Complete'" class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded">Complete</span>
                    </td>
                    <td class="px-6 py-4">
                        <a (click)="viewBooking(booking.bookingId)" class="text-blue-600 hover:cursor-pointer hover:underline">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-view-booking-modal [booking]="this.booking"></app-view-booking-modal>